.stuPortalmain{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

.stuPortalh1{
    margin: 0;
    width: 100%;
    text-align: center;
    font-family: 'Germania One', cursive;
    color: white;
    background-color: rgba(0,0,0,0.7);
}

.stuPortalform{
    background-color: rgba(255,255,255,0.85);
    border-radius: 50px;
    border: 5px solid;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 30px;
}

.stuPortaldiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.stuPortalinput{
    width: 50%;
    border: none;
}

.stuPortalinputFalse{
    border: none;
    border: 3px solid tomato;
}

.stuPortalinput[type = "submit"]{
    width: 100%;
    font-size: xx-large;
    font-family: 'Germania One', cursive;
    background-color: rgba(0,0,0,0.5);
    border: none;
    color: white;
}

.stuPortalinput[type = "submit"]:hover{
    background-color: rgba(0,0,0,0.75);
}

.stuPortalinput[type = "submit"]:active{
    background-color: black;
}

.stuPortalinputBlock{
    width: 100%;
    font-size: xx-large;
    font-family: 'Germania One', cursive;
    background-color: rgba(0,0,0,0.5);
    border: none;
    color: oldlace;
    cursor:no-drop;
    letter-spacing: 5px;
}

p{
    margin: 0;
    text-align: center;
    font-family: 'Germania One', cursive;
    font-size: x-large;
}

@media screen and (max-width : 2500px) {
    .stuPortalh1 {
        font-size: 3.5rem;
        letter-spacing: 0.25rem;
        padding: 10px 0;
    }

    .stuPortaldiv{
        font-size: 2rem;
    }

    .stuPortalsection{
        width: 640px;  
    }

    .stuPortalinput{
        font-size: 1.5rem;
    }
}

@media screen and (max-width : 1000px) {
    .stuPortalh1 {
        font-size: 2.5rem;
        letter-spacing: 0.25rem;
        padding: 20px 0;
    }

    .stuPortaldiv{
        font-size: 1.75rem;
    }

    .stuPortalsection{
        width: 440px;   
    }

    .stuPortalinput{
        font-size: 1.25rem;
    }
}

@media screen and (max-width : 500px) {
    .stuPortalh1 {
        font-size: 1.5rem;
        letter-spacing: 0.25rem;
        padding: 30px 0;
    }

    .stuPortaldiv{
        font-size: 1.25rem;
    }

    .stuPortalsection{
        width: 390px;   
    }

    .stuPortalinput{
        font-size: 1rem
    }
}