.staDiv{
    display: flex;
    height: 50vh;
    width: 30vw;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: all 0.5s ease-in-out;
}

.staDiv:hover{
    cursor: pointer;
    transform: scale(1.15);
    background-color: rgb(249,246,227);
    border-radius: 25px;
}

.staImg{
   height: 250px; 
   border: 5px solid white;
   border-radius: 50%;
}

.staImg:hover{
    border-color: rgba(0,0,0,0.75);
}

.staH1{
    font-size: x-large;
    background-color: rgb(249,246,227);
    width: 15vw;
    text-align: center;
    text-decoration: none;
    color: black;
    font-family: 'Germania One', cursive;
    font-size:xx-large;
    border-bottom: 5px solid rgba(0,0,0,0.8);
    transition:all 0.25s ease-in-out;
}